-r requirements.txt

# Interactive python
ipykernel

# Linting and formatting
yapf
pylint
toml

# Documentation
numpydoc
#Sphinx==5.3.0
Sphinx
sphinx-autoapi
sphinx-copybutton
sphinx-gallery
#sphinx-rtd-theme
sphinx-book-theme
esbonio
