-r requirements.txt

# Interactive python
ipykernel

# Linting and formatting
yapf
pylint
toml

# Documentation
#numpydoc
#Sphinx==6.1.3
#sphinx-autoapi
#sphinx-copybutton
#sphinx-gallery
#sphinx-book-theme
#esbonio
