alabaster
astroid
Babel
certifi
docutils==0.18.1
idna
imagesize
Jinja2==3.1.1
MarkupSafe==2.1.1
numpydoc
packaging
Pygments
pyparsing
pytz
PyYAML
requests
snowballstemmer
Sphinx==5.0.2
sphinx-autoapi
sphinx-copybutton
sphinx-gallery
sphinx-rtd-theme
typing-extensions
Unidecode
urllib3
wrapt
matplotlib
scipy
